html {
  font-size: 20px;
}
* {
font-family: Arial, Verdana, Tahoma;
}

body {
  margin: 0;
  }
.header {
  display: flex;
  flex-direction: column;
}

.background-img {
  height: 300px;
  max-width: 100%;
  background-image: url(https://cdn.pixabay.com/photo/2014/09/10/00/59/mountains-440520_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -400px;
  background-attachment: fixed;
  opacity: 0.9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.background-img h1,p {
  margin: 0;
  padding: 10px;
}
.background-img p {
  border-bottom: 1px solid white;
}
.avatar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0;
}
.avatar img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 20px; 
  margin:0;
}
.avatar h1 {
 display: flex;
 align-items: center;
 margin: 0;
}

.menu-bar {
  display: flex;
  margin: 0;
}
.menu-bar ul {
list-style-type: none;
display: flex;
flex-direction: row;
justify-content: right;
align-items: center;
flex-grow: 1 ;
}

.menu-bar li {
padding: 8px 16px;
}
.menu-bar ul li:hover {
  background-color: #886638;
  color: white;
}

.intro img {
max-width:350px;
flex-grow: 0;
margin: 20px;
}
.intro {
flex-grow: 1;
display: flex;
margin: 20px;
flex-direction:row;
justify-content:center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.info p {
  line-height: 30px;
}

.target {
flex-grow: 1;
display: flex;
margin: 20px;
flex-direction:row;
justify-content:center;
}
.target img {
  max-width:350px;
  flex-grow: 0;
  margin: 20px;
}

.skill {

}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 3px solid  #584328;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

th {
  background-color:#bc986a;
  color: white;
}
.footer {
display: flex;
flex-direction:row;
justify-content:space-between;
padding: 50px 250px;
margin:0;
background-color: #110e08;
color: white;
}
.contact {
text-align:center;
}
.link a{
text-decoration: none;
color: #e99f4b;
line-height: 50px;
}
.link a:hover {
  text-decoration: underline;
  color: #2F5A78;
}
.form{
border-left: 5px solid;
padding-left: 20px
}
#contact-form {
  line-height: 2em;
}
textarea {
   border: 1px solid rgb(34, 57, 90);
   padding: 5px 5px 5px 5px;
   max-width: 100%;
}
textarea:hover {
  border: 2px solid black;
  border-radius: 5px;
}
label {
  font-weight: bold;
  line-height: 30px;
}
input[type='submit'] {
  background-color: #bc986a  ;
  color: white;
  padding: 10px 25px;
  font-weight: bold;
  border: none;
  border-radius: 100px;
  font-size: 20px;
}
input[type='submit']:hover {
  background-color: grey;
}
input[type='text'] {
  border: 1px solid rgb(34, 57, 90);
  padding: 10px;
}
input[type='text']:hover {
  border: 2px solid black;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
.header {
 display: flex;
  flex-direction: column;
  margin: 15px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.menu-bar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.intro{
  margin: 0 10px;
  padding: 0 ;
}
.intro h1,p {
  margin: 0 0 15px 0;
}
img {
  max-width:300px;
  display:flex;
  justify-content: center;
}
.header{
  height:550px;
}
.skill, .target {
margin: 20px;
}
.target h2 {
padding-right: 5px;
}
.footer{
  padding: 10px;
}
}